<div class="bg-secondary bg-opacity-10 py-2">
  <div class="container">
    <span class="text-warning" *ngIf="addNew"
      >Add Blog - Admin Functionality</span
    >
    <span class="text-warning" *ngIf="!addNew"
      >Update Blog - Admin Functionality</span
    >
  </div>
</div>

<div class="container py-5" *ngIf="formInitialized">
  <form
    method="post"
    [formGroup]="blogPostForm"
    (ngSubmit)="submit()"
    autocomplete="off"
  >
    <div class="mb-3">
      <mat-form-field class="full-width">
        <mat-label>Heading</mat-label>
        <input
          matInput
          placeholder="Heading"
          required
          formControlName="heading"
        />
      </mat-form-field>
    </div>

    <div class="mb-3">
      <mat-form-field class="full-width">
        <mat-label>Page Title</mat-label>
        <input
          matInput
          placeholder="Page Title"
          required
          formControlName="pageTitle"
        />
      </mat-form-field>
    </div>

    <div class="mb-3">
      <!-- <mat-form-field class="full-width">
        <mat-label>Content</mat-label>
      </mat-form-field> -->
      <textarea
        [froalaEditor]="options"
        [(froalaModel)]="editorContent"
        matInput
        placeholder="Content ..."
        required
        formControlName="content"
        (change)="onUploadFeaturedImage($event)"
        class="froala-editor"
      ></textarea>
    </div>

    <div class="mb-3">
      <mat-form-field class="full-width">
        <mat-label>Short Description</mat-label>
        <input
          matInput
          placeholder="Short Description"
          required
          formControlName="shortDescription"
        />
      </mat-form-field>
    </div>

    <div class="mb-3">
      <mat-form-field class="full-width">
        <mat-label>Featured Image Upload</mat-label>
        <input
          matInput
          placeholder="Featured Image Upload"
          required
          [value]="fileName"
          readonly
        />
        <input
          type="file"
          hidden
          #fileInput
          (change)="onFileSelected($event)"
        />
        <button mat-button type="button" (click)="fileInput.click()">
          Browse
        </button>
      </mat-form-field>

      <img
        *ngIf="blogPostForm.get('featuredImageUrl')?.value !== null"
        src="{{ blogPostForm.get('featuredImageUrl')?.value }}"
        id="featuredImageDisplay"
        style="width: 300px"
      />
    </div>
    <div class="mb-3">
      <mat-form-field class="full-width">
        <mat-label>Featured ImageUrl</mat-label>
        <input
          matInput
          placeholder="Featured ImageUrl"
          required
          formControlName="featuredImageUrl"
        />
      </mat-form-field>
    </div>

    <div class="mb-3">
      <mat-form-field class="full-width">
        <mat-label>Url Handle</mat-label>
        <input
          appNoSpace
          matInput
          placeholder="Url Handle"
          required
          formControlName="urlHandle"
        />
      </mat-form-field>
    </div>

    <div class="mb-3">
      <mat-form-field class="full-width">
        <mat-label>Published Date</mat-label>
        <input
          matInput
          placeholder="Published Date"
          required
          formControlName="publishedDate"
          [matDatepicker]="publishedDatePicker"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="publishedDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #publishedDatePicker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="mb-3">
      <mat-form-field class="full-width">
        <mat-label>Author</mat-label>
        <input
          matInput
          placeholder="Author"
          required
          formControlName="author"
        />
      </mat-form-field>
    </div>

    <div class="form-check mb-3">
      <mat-checkbox class="full-width" formControlName="visible"
        >Is Visible?</mat-checkbox
      >
    </div>

    <div class="mb-3">
      <!-- <label class="form-label">Tags</label> -->
      <mat-form-field class="full-width">
        <mat-label>Tags</mat-label>
        <mat-select multiple formControlName="tags" [(value)]="selectedTags">
          <mat-select-trigger>
            {{ tags.value }}
            @if ((tags.value?.length || 0) > 1) {
            <span class="example-additional-selection">
              (+{{ (tags.value?.length || 0) - 1 }}
              {{ tags.value?.length === 2 ? "other" : "others" }})
            </span>
            }
          </mat-select-trigger>
          @for (tag of allTags; track tag) {
          <mat-option [value]="tag.displayName">{{
            tag.displayName
          }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-floating" *ngIf="errorMessages.length > 0">
      <app-validation-messages
        [errorMessages]="errorMessages"
      ></app-validation-messages>
    </div>

    <div class="mb-3">
      <button type="submit" class="btn btn-dark">Submit</button>
    </div>
  </form>
</div>
