<div class="bg-secondary bg-opacity-10 py-2">
  <div class="container">
    <h1>
      <span class="text-warning" *ngIf="addNew"
        >Add Tag - Admin Functionality</span
      >
      <span class="text-warning" *ngIf="!addNew"
        >Update Tag - Admin Functionality</span
      >
    </h1>
  </div>
</div>

<div class="container py-5">
  <!-- *ngIf="formInitialized" -->
  <form
    method="post"
    [formGroup]="tagForm"
    (ngSubmit)="submit()"
    autocomplete="off"
  >
    <div class="mb-3">
      <label class="form-label">Id</label>
      <input
        type="text"
        id="id"
        class="form-control"
        readonly
        formControlName="id"
      />
    </div>

    <div class="mb-3">
      <label class="form-label">Name</label>
      <input
        type="text"
        id="name"
        class="form-control"
        formControlName="name"
        [class.is-invalid]="submitted && tagForm.get('name')?.errors"
      />
      <span
        class="text-danger"
        *ngIf="submitted && tagForm.get('name')?.hasError('required')"
      >
        Name is required
      </span>
    </div>

    <div class="mb-3">
      <label class="form-label">Display Name</label>
      <input
        type="text"
        id="name"
        class="form-control"
        formControlName="displayName"
        [class.is-invalid]="submitted && tagForm.get('displayName')?.errors"
      />
      <span
        class="text-danger"
        *ngIf="submitted && tagForm.get('displayName')?.hasError('required')"
      >
        Display Name is required
      </span>
    </div>

    <div class="form-floating" *ngIf="errorMessages.length > 0">
      <app-validation-messages
        [errorMessages]="errorMessages"
      ></app-validation-messages>
    </div>

    <div class="mb-3">
      <div class="d-flex">
        <button type="submit" class="btn btn-dark">
          {{ addNew ? "Create Tag" : "Update Tag" }}
        </button>

        <button
          type="button"
          class="btn btn-danger ms-2"
          routerLink="/admin/admin-tags"
        >
          Back to List
        </button>
      </div>
    </div>
  </form>
  <!-- } else
    {
        
    } -->
  <!-- <p *ngIf="!formInitialized">Tag not found!</p> -->
</div>
